@model WikipediaUniDAW.Models.Article

@{
    ViewBag.Title = "Wiki 2.0.0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="center-block">@ViewBag.Title</h1>
<header class="center-block">Welcome to Wiki 2.0, the new cradle of knowledge</header>
<br />

<section id="articles">
    <header>
        <h2>Take a look:</h2>
    </header>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form method ="post" action="Show">
                <text>Sort our articles by</text>
                <select name="sort">
                    @foreach (var sort in ViewBag.Sorts)
                    {
                        <option value=@sort.Value>@sort.Key</option>
                    }
                </select>
                <select name="order">
                    @foreach (var order in ViewBag.Order)
                    {
                        <option value=@order.Value>@order.Key</option>
                    }
                </select>
                <button type="submit">Load results!</button>
            <form />
        <div/>
    <div/>
        @foreach (WikipediaUniDAW.Models.Article article in ViewBag.articles)
        {
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> @article.Title </h3>
                        </div>
                        <div class="panel-body">
                            <div class="truncate">
                                <div>
                                    @Html.Raw(article.GetFirstChapter().Content)
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-primary" href="/Article/Show/@article.ArticleId"> Show Article </a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
</section>



