@model WikipediaUniDAW.Models.Article

@{
    ViewBag.Title = "Wiki 2.0.0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="glyph-div" action="/Home/Search" onsubmit="return (function () { $('#search-submit').click(); return false;})()"
      class="" style="position: fixed; z-index: 0; top: 60px; right: 25px;
         height: 50px; width: 50px; background: whitesmoke;
         border-radius: 100px"
      onmouseenter="$('#glyph-div').animate({ width: '200px' }); $('input[type=text]').removeClass('hidden');"
      @*onmouseout="$('#glyph-div').animate({ width: '50px' }); $('input[type=text]').addClass('hidden');"*@>
    <input class="hidden" type="text" name="q" value="find articles"
           style="width: calc(100% - 75px); float: left; height: 36px; margin: 7px 0px; margin-left: 18px;
                    text-align: center" />
    <i class="glyphicon glyphicon-search" style="font-size: 36px; position: relative; margin: 7px"
       onclick="$('#search-submit').click()"></i>
    <button id="search-submit" type="submit" hidden
            onclick="let url = `/Home/Search/${$('#glyph-div>input').val()}`; console.log(url); window.location.replace(url);">
        This remains hidden :D.
    </button>
    <a id="search-redirect-anchor" href="" class="hidden">Redirect to the right uri</a>
    @*<button id="search-submit" type="submit" hidden
                onclick="let url = '/Home/Search/'; $(`<a href='${url + $('#glyph-div>input').val()}'></a>`).click();">
            This remains hidden :D.
        </button>*@

    @*onclick="let query = $('#glyph-div>a').get(0).href; $('#search-redirect-anchor').attr('href', '/Home/Search/' + query); $('#search-redirect-anchor').click()"></i>*@

</form>

<div class="dropdown col-md-2 center-block"
        style="margin-top: 10px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            style="background: whitesmoke; border: 1px solid black; padding: 7px 15px; height: 50px; font-size: 15px; border-radius: 100px;
                    text-align: center; ">
        <i class="glyphicon glyphicon-link" style="margin: 7px; font-size: 15px"></i>Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @{int index = 0; }
        @foreach (WikipediaUniDAW.Models.Category category in ViewBag.Categories)
        {
            
            <li><a class="dropdown-item" href="/Home/Category/@category.CategoryId">@category.Name</a></li>
            if (index % 5 == 4)
            {
                <li role="separator" class="divider"></li>
            }
        }
    </ul>
</div>

@*onmouseenter="$('#dropdown-links').dropdown('toggle')"
onmouseout="$('#dropdown-links').dropdown('toggle')"*@




<div class="row">
    @*<button type="button" class=" btn-lg btn-outline-primary" style="margin-top:20px">List Categories</button>*@

    <h1 class="col-md-12 text-center">@ViewBag.Title</h1>
    <header class="col-md-12 text-center">Welcome to Wiki 2.0, the new cradle of knowledge</header>
    <br />
</div>


<section id="articles">
    <header class="text-center">
        <h2>Take a look:</h2>
    </header>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="text-center" style="margin: 20px 0px" method="post" action="">
                <text>Sort our articles by</text>
                <select name="sort">
                    @foreach (var sort in ViewBag.Sorts)
                    {
                        <option value="@sort.Value">@sort.Key</option>
                    }
                </select>
                <select name="order">
                    @foreach (var order in ViewBag.Orders)
                    {
                        <option value="@order.Value">@order.Key</option>
                    }
                </select>
                <button type="submit">Load results!</button>
            </form>
                @foreach (WikipediaUniDAW.Models.Article article in ViewBag.articles)
                {
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> @article.Title </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="truncate">
                                        <div>
                                            @Html.Raw(article.GetFirstChapter().Content)
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-primary" href="/Article/Show/@article.ArticleId"> Show Article </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
</section>



