@model WikipediaUniDAW.Models.Article
@{
    ViewBag.Title = "Edit Article Details";
}

<h2>@ViewBag.Title</h2>
<br />

<form method="post" action="/Article/Edit/@Model.ArticleId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Hidden("ArticleId")
    @Html.Hidden("CreatorUserId")
    @Html.Hidden("CurrentVersionId")
    @Html.Hidden("CreationDate", Model.CreationDate, new { @class = "form-control" })

    @Html.Label("Title", "Article Title")
    @Html.TextBox("Title", Model.Title, new { @class = "form-control" })
    <br />

    <label>Choose a category</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"),
        "Choose a category", new { @class = "form-control" })
    <br />

    @Html.CheckBox("Protected", Model.Protected)
    @Html.Label("Protected", "Article should be protected.")
    <br />

    @Html.CheckBox("Frozen", Model.Frozen)
    @Html.Label("Frozen", "Article should be frozen.")
    <br /><br />

    <button class="btn btn-sm btn-primary" type="submit">Save Details</button>
</form>



